.position
/ 編集の際のpositionの調整

.signup_one_more_contents
  .signup_one_more_contents__top_content
  .signup_one_more_contents__icon
    .signup_one_more_contents__icon__image
  .signup_one_more_contents__title_field
    %span 最後にひとつ
  .signup_one_more_contents__body_field
    .signup_one_more_contents__body_content__top_text_area
      %span 連絡先をAirbnbに同期をさせておけば、旅程表をシェアしたり友人を招待するとき入力がラクになります。利用するのはご自身だけです。Airbnbが無断で連絡先にコンタクトをすることはありません。
    .signup_one_more_contents__body_content__bottom_text_area
      %span いつでも
      %a.redirect_btn{herf: root_path} アカウントの設定
      %span より連絡先を削除することができます。
  .signup_one_more_contents__user_address_field
    %span
  .signup_one_more_contents__input_field
    .signup_one_more_contents__input_field__input_area
      %a.redirect_btn{href: root_path}
        %h3.bold 連絡先を同期
  .signup_one_more_contents__bottom_content
    %a.redirect_btn{herf: root_path} あとで

