.position
/ 編集の際のpositionの調整

.signup_profile_contents
  .signup_profile_contents__top_content
  .signup_profile_contents__title_content
    %span プロフィール写真を追加してください
  .signup_profile_contents__body_content
    %span 顔を覚えてもらいましょう！こちらはプロフィールに追加し、今後のゲストやホストに共有します。
  .signup_profile_contents__icon
    .signup_profile_contents__icon__image
      = image_tag 'no_img.png', class: 'image', size: '134×134'
  .signup_profile_contents__facebook_bar
    .signup_profile_contents__facebook_bar__btn
      %a.redirect_btn{href: root_path}
        %h3 Facebookの写真を使う
  .signup_profile_contents__upload_bar
    .signup_profile_contents__upload_bar__btn
      %a.redirect_btn{href: root_path}
        %h3 写真をアップロード
  .signup_profile_contents__bottom_content
    %span あとで
