.position
/ 編集の際のpositionの調整

.signup_finish_contents
  .signup_finish_contents__correction_position
  .signup_finish_contents__main_content
    .signup_finish_contents__icon
      .signup_finish_contents__icon__image
    .signup_finish_contents__title_field
      %span 無事完了です！
    .signup_finish_contents__body_field
      %span Airbnbで世界中を旅して、世界中の人をお家に泊める準備が整いました
    .signup_finish_contents__button_field
      %a.redirect_btn{href: root_path}
        %h3.bold さあ、使ってみよう
