.position
/ 編集の際のpositionの調整

.signup_phone_number_contents
  .signup_phone_number_contents__top_content
  .signup_phone_number_contents__title_content
    %span 電話番号を確認してください
  .signup_phone_number_contents__body_content
    %span こちらは旅行中ホストやゲストからの連絡先となる情報です。
  .signup_phone_number_contents__icon
    .signup_phone_number_contents__icon__image
    / 携帯のイメージ画像を後で追加する
      / = image_tag ''
  .signup_phone_number_contents__language_field
    .signup_phone_number_contents__language_field__label_area
      %span 国
    .signup_phone_number_contents__language_field__select_area
    / 国識別番号をserectで選べるようにする
      = select_to :language, class: 'langugae_list', id: 'phone_country_code_select', style: 'font-size: inherit;'
  .signup_phone_number_contents__phone_number_field
    .signup_phone_number_contents__phone_number_field__label_area
      %span 電話番号
    .signup_phone_number_contents__phone_number_field__input_area
      %span.international_country_code
      = input :phone_number, class: 'phone_number', id: 'input'
    .signup_phone_number_contents__phone_number_field__certification_area
      %a.redirect_btn{href: root_path}
        %h3.bold 電話番号の認証
  .signup_phone_number_contents__bottom_content
    %span あとで
