.signup_finish_contents
  .signup_finish_contents__correction_position
  .signup_finish_contents__main_content
    .signup_finish_contents__main_content__icon
      .signup_finish_contents__main_content__icon__image
    .signup_finish_contents__main_content__title_field
      %span
    .signup_finish_contents__main_content__body_field
      %span
    .signup_finish_contents__main_content__button_field
      %a.redirect_btn{href: root_path}
        %h3 さあ、使ってみよう
