.covenant_section_contents
  .covenant_section_contents__content
    %h1.title 誓約のお願い
    %span.text 私たちのミッションは、全ての人が世界中どこへ行っても「自分の居場所」をもてるよう、信頼を基盤においたコミュニティを築くことです。その為、Airbnbの利用にあたり、サービス利用規約および、あらゆるバックグラウンドのみなさまに温かく接することに関する誓約への同意をお願いしております。
  .covenant_section_contents__airbnb_community
    .title_content
      %span.title Airbnbコミュニティの誓約事項
    .text_content
      %span.text 私は、相手の人種、宗教、国籍、民族、肌の色、障がい、性別、性別認識、性的指向、年齢に関わりなく、Airbnbコミュニティの全メンバーに対し、敬意をもって、予断や偏見をもたずに接することを誓約します。
    %a.redirect_btn{href: root_path} もっと詳しく
  .covenant_section_contents__airbnb_service
    .title_content
      %span.title Airbnbのサービス利用規約
    .text_content
      %span.text また、私は、
      %a.redirect_btn{href: root_path} サービス利用規約
      %span.text 、
      %a.redirect_btn{href: root_path} 支払いサービス利用規約
      %span.text 、
      %a.redirect_btn{href: root_path} 個人情報保護ポリシー
      %span.text および
      %a.redirect_btn{href: root_path} 差別禁止ポリシー
      %span.text に同意します。
  .covenant_section_contents__button_field
    .agree_btn
      %a.redirect_btn#agree_action{href: root_path}
        %h3 同意する
    .disagree_btn
      %a.redirect_btn#disagree_action{href: root_path}
        %h3 同意しない

