.modal_background#login_modal
  .login_contents
    .top_content
      = button_to '×'
    .correction_position_top
    .body_content
      .title_content
        %h1 ログイン
      .correction_position_center_top
      .facebook_login_ber
        .facebook_login_btn
          %a.redirect_btn{href: root_path}
            %h3 Facebookでログイン
      .correction_position_center_bottom
      .border_line
        .border_line__content または
        %hr
      .split_button
        .left_login_btn#mail_login
          %a.redirect_btn{href: new_user_session_path}
            %h3 メールアドレス
        .right_login_btn
          %a.redirect_btn{href: root_path}
            %h3 Google
      .bottom_content
        .bottom_content__text_area アカウントはお持ちでないですか？
        %a.redirect_btn#signup_action{href: root_path} 登録
