.area__header

  %button{type: 'button', class: 'area__header__btn'}
    日付
  .area__header__ppl
    %button{type: 'button', class: 'area__header__ppl__num'}
      人数
    %button{type: 'button', class: 'area__header__ppl__num'}
      1
    %button{type: 'button', class: 'area__header__ppl__num'}
      2
    %button{type: 'button', class: 'area__header__ppl__num'}
      3
    %button{type: 'button', class: 'area__header__ppl__num'}
      4
    %button{type: 'button', class: 'area__header__ppl__num'}
      +
  %button{type: 'button', class: 'area__header__btn'}
    部屋タイプ
  %button{type: 'button', class: 'area__header__btn'}
    料金
  %button{type: 'button', class: 'area__header__btn'}
    今すぐ予約
  %button{type: 'button', class: 'area__header__btn'}
    旅行タイプ
  %button{type: 'button', class: 'area__header__btn'}
    フィルター
