.area__header

  %button{type: 'button', class: 'area__header__btn'}
    日付
  .area__header__ppl
    %button{type: 'button', class: 'area__header__ppl__num'}
      人数
    %button{type: 'button', class: 'area__header__ppl__num'}
      1
    %button{type: 'button', class: 'area__header__ppl__num'}
      2
    %button{type: 'button', class: 'area__header__ppl__num'}
      3
    %button{type: 'button', class: 'area__header__ppl__num'}
      4
    %button{type: 'button', class: 'area__header__ppl__num'}
      +
  %button{type: 'button', class: 'area__header__btn'}
    部屋タイプ
  %button{type: 'button', class: 'area__header__btn'}
    料金
  %button{type: 'button', class: 'area__header__btn'}
    今すぐ予約
  %button{type: 'button', class: 'area__header__btn'}
    旅行タイプ
  %button{type: 'button', class: 'area__header__btn'}
    フィルター

// 人数選択ボックス
.capacity_condition#menuItemComponent-guest_picker
  .select-capacity.clearfix
    .select-capacity__adults.select-capacity__item.clearfix
      .human-attributes
        %p 大人
      .counting-box.clearfix.right
        .counting-down
          %button -
        .number
          %p 1+
        .counting-up
          %button +

    .select-capacity__children.select-capacity__item.clearfix
      .human-attributes
        %p 子ども
        %p 年齢2 - 12
      .counting-box.clearfix.right
        .counting-down
          %button -
        .number
          %p 1+
        .counting-up
          %button +
    .select-capacity__babies.select-capacity__item.clearfix
      .human-attributes
        %p 乳幼児
        %p 2歳未満
      .counting-box.clearfix.right
        .counting-down
          %button -
        .number
          %p 1+
        .counting-up
          %button +
  .action-box
    .cancel-button
      %button.bold キャンセル
    .apply-button
      %button.bold 適用
