/
  <h1>New Home Reservation</h1>
  
  <haml_loud> render &#39;form&#39;, home_reservation: @home_reservation </haml_loud>
  
  <haml_loud> link_to &#39;Back&#39;, home_reservations_path </haml_loud>
\.container#reservation_new
\= form_for [@prototype, @home_reservation] do |f|
\.col-md-8
\.reservation_new__heading.col-md-4
\%h4
\= '\#{@prototype.accomodation_fee}/泊'
\.reservation_new__body
\.checkin_date
\= f.text_field :checkin_date, required: true, autofocus: true, placeholder: "チェックイン", class: "checkin_date_input"
\= f.text_field :checkout_date, required: true, autofocus: true, placeholder: "チェックアウト", class: "checkout_date_input"
\= f.text_field :number_of_guests, required: true, autofocus: true, placeholder: "ゲスト1人", class: "number_of_guests_input"
\.reservation_new__body--hidden
\= f.text_field :accomodation_fee, required: true, class: "accomodation_fee_input"
\= f.text_field :cleaning_fee, required: true, class: "cleaning_fee_date_input"
\= f.text_field :service_fee, required: true, class: "service_fee_input"
\= f.text_field :total_price, required: true, class: "total_price_input"

\.row.text-center.proto-btn
\= f.submit "予約をリクエスト", id: "button", class: "btn btn-lg btn-primary btn-block"
