._aov0j6.clearfix
  .airbnb-title
    %h1.bold Airbnb Plusが新登場
  .airbnb-link
    %p.bold クオリティと快適さが認定された、
    %p.bold Airbnbの宿泊先の新グレード。
    .airbnbplus-btn
      %a.square_btn{href: root_path}
        %h3.bold Airbnb plus認定済みリスティングを探す
    = image_tag("airbnbplus-icon.png")
