.side-box
  .reservation
    .price-box
      %span.bold ¥10,016
      %span /1泊
    .review-box
      %span ★★★★★
      %span 122
    .select-box
      %p 日付
    / %p 人数
    .request-btn
      %h2 予約をリクエスト
      %p まだ請求は発生しません
  .report
    %h3 不適切な内容を報告

