.listings
  %h1.bold 世界中のリスティング
  - 5.times do
    %a{:href => "/"}
      .listing-s.inline-left
        .listing-s__image
          = image_tag("home1.png")
        .listing-s__text
          %p.listing-category.bold 小屋
          %p.listing-title.bold Villa San Gennariello B&B
          %p.listing-price ¥8,761 /泊・キャンセル無料
          %span.listing-star ★★★★★
          %span.listing-reviewsum.bold 122・
          %span.superhost.bold スーパーホスト
  %a.showall.bold{:href => "/"} すべて見る(2000+) >
