.listings.clearfix
  %h1.bold 一度は泊まってみたいユニークなリスティング
  %p ユニークなリスティングに泊まって、今までにない旅をしよう
  %a{:href => "/"}
    .listing-x.inline
      .listing-x__image
        = image_tag("treehouse.png")
      .listing-x__text
        %h5.listing-category.bold 1,912件のツリーハウス
        %h2.listing-title.bold 樹上の秘密基地
        %h4.listing-price 憧れのツリーハウスに泊まって、好奇心がくすぐられる冒険へ。
  %a{:href => "/"}
    .listing-x.inline
      .listing-x__image
        = image_tag("boat.png")
      .listing-x__text
        %h5.listing-category.bold 9,167件のボート
        %h2.listing-title.bold 海の旅
        %h4.listing-price 大小さまざまな舟に乗り、大海原を渡った偉大な先人のパワーを感じよう。
  %a{:href => "/"}
    .listing-x.inline
      .listing-x__image
        = image_tag("ger.png")
      .listing-x__text
        %h5.listing-category.bold 1,912件のツリーハウス
        %h2.listing-title.bold グランピングにぴったりな宿
        %h4.listing-price 中は快適、外は大自然。いいところどりできます。
