/ =link_to root_path, class: 'link-div'
  .listing-s
    .listing-s__image
      = image_tag("home1.png")
    .listing-s__text
      %p.listing-category.bold 小屋
      %p.listing-title.bold BALIAN TREEHOUSE w beautiful pool
      %p.listing-price ¥8,761 /泊・
      %p.listing-cancel キャンセル無料
      %p.listing-star ★★★★★
      %p.listing-reviewsum.bold 122・
      %p.superhost.bold スーパーホスト
