.listings.clearfix
  %h1.bold 旅の目的別コレクション
  %p 旅に欠かせない設備充実の高評価な宿泊先から探してみよう
  %a{href: "/family"}
    .listing-xl.inline-left
      .listing-xl__image
        = image_tag("family_square.png")
      .listing-xl__text
        %h5.bold 2,000+件の宿泊先
        %h2.left ファミリー大満足の宿泊先を予約。家族水入らずでゆっくり過ごしましょう。
  %a{href: "/business"}
    .listing-xl.inline-left
      .listing-xl__image
        = image_tag("business_square.png")
      .listing-xl__text
        %h5.bold 2,000+件の宿泊先
        %h2.left 高評価で柔軟な予約対応。ビジネス・出張に必要なアイテムをすべて備えた宿泊先を予約しよう。
