.listings.clearfix
  %h1.bold 一度は泊まってみたいユニークなリスティング
  %p ユニークなリスティングに泊まって、今までにない旅をしよう
  - 3.times do
    %a{:href => "/"}
      .listing-x.inline-left
        .listing-x__image
          = image_tag("https://a0.muscache.com/im/pictures/0e25bbd4-d081-4bab-85de-a8fd05245b53.jpg?aki_policy=large")
        .listing-x__text
          %h5.listing-category.bold 1,912件のツリーハウス
          %h2.listing-title.bold 樹上の秘密基地
          %h4.listing-price 憧れのツリーハウスに泊まって、好奇心がくすぐられる冒険へ。
