.share-check
  .share-check-left.inline
    %img{alt: "シェアするといくらになるかチェック", src: "https://a0.muscache.com/im/pictures/4eeac7b2-62ca-4a34-b290-6b2f6b12f9f0.jpg?aki_policy=large"}
  .share-check-right.inline
    %h1.bold シェアするといくらになるかチェック
    %h2 眠っているお部屋に働いてもらおう。
    %a.more-detail-btn{href: "#"}
      %span もっと詳しく
