._share_check
  ._check
    ._e296pg{:style => "width: 100%; height: 100%;"}
    %a.square_btn{href: root_path}
      .btn-image.inline_left{:style => "float: left;"}
        %img{:alt => "シェアするといくらになるかチェック", :src => "https://a0.muscache.com/im/pictures/4eeac7b2-62ca-4a34-b290-6b2f6b12f9f0.jpg?aki_policy=large", :style => "width: 30%; height: auto; margin-right: 16px"}/
    ._ynnb8vg
      ._d2f3gw{:style => "margin-bottom: 4px;"}
        %div
          ._1xgxs84v
            %span._74l3jy シェアするといくらになるかチェック
      %div{:style => "margin-bottom: 12px;"}
        %div
          ._5y40cyp
            %span._16syclo 眠っているお部屋に働いてもらおう。
      %a._1vab2qmv{"aria-busy" => "false", :href => "/host/homes", :rel => "noopener noreferrer", :target => "_blank"}
        %span._l8z70zb もっと詳しく
