.listing-slick
  .listing-s__image.slick-sub
    = image_tag("home1.png")
.listing-slick
  .listing-s__image.slick-sub
    = image_tag("home1.png")
.listing-slick
  .listing-s__image.slick-sub
    = image_tag(image.image)
