._1ibtygfe.clearfix
  ._1mtjcg0
    %h1.bold Airbnbで探す
  ._1ob6ca33
    %a.square_btn{href: '/homes'}
      .btn-image.inline
        = image_tag("search_homes.png")
      .btn-text.inline
        %h2.bold.left 宿泊先
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("search_experiences.png")
      .btn-text.inline
        %h2.bold.left 体験
