._1ibtygfe.clearfix
  ._1mtjcg0
    %h1.bold Airbnbで探す
  ._1ob6ca33
    %a.square_btn{href: root_path}
      .btn-image.inline_left
        %img{:alt => "宿泊先を探す", :src => "https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large", :style  => "width: 96px; height: 72px;"}/
      .btn-text.inline_left
        %h2.bold.left 宿泊先
    %a.square_btn{href: root_path}
      .btn-image.inline_left
        %img{:alt => "宿泊先を探す", :src => "https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large", :style  => "width: 96px; height: 72px;"}/
      .btn-text.inline_left
        %h2.bold.left 体験
