.listings.clearfix
  %h1.bold Airbnbで旅に出る
  .centering-wrap
    .trip-with-airbnb.inline
      .trip-with-airbnb__icon
        = image_tag("icon-conv.png")
      .trip-with-airbnb__text.align-left
        %p.bold 24時間365日対応のカスタマーサポート
        %h2.bold 昼夜を問わず対応します。お困りのときには、世界中どこからでもサポートチームにご相談ください。 
    .trip-with-airbnb.inline
      .trip-with-airbnb__icon
        = image_tag("icon-home.png")
      .trip-with-airbnb__text.align-left
        %p.bold グローバルなおもてなしの基準
        %h2.bold 宿泊後ゲストはホストを星で採点します。この星の数の最低基準とおもてなしの基準をクリアしないと、Airbnbには公開されません。 
    .trip-with-airbnb.inline
      .trip-with-airbnb__icon
        = image_tag("icon-star.png")
      .trip-with-airbnb__text.align-left
        %p.bold ５つ星のホスト
        %h2.bold 心地よい寝具から現地グルメ情報まで、Airbnbホストがローカルなおもてなしをたっぷりお届けします。 
