.listings.clearfix
  %h1.bold Airbnbで旅に出る
  .trip-with-airbnb.inline-left
    .trip-with-airbnb__icon
      = image_tag("icon-star.png")
    .trip-with-airbnb__text
      %h5.listing-category.bold 1,912件のツリーハウス
      %h2.listing-title.bold 樹上の秘密基地
      %h4.listing-price 憧れのツリーハウスに泊まって、好奇心がくすぐられる冒険へ。
