= image_tag("https://a0.muscache.com/4ea/air/v2/pictures/36844cf9-e438-47f4-9988-0c2da1260e40.jpg?t=c:w1131-h343,r:w1131-h343-sfit,e:fjpg-c75")
%h1 ファミリーで泊まりたいお家
%p キッチンやTVなどの必需品が揃っていて、ゲスト評価5つ星の一軒家を見つけよう。
