.container
  .heading-img
    =image_tag("home2.png")
  .hoom-overview
    .hoom-overview__heading
      %p ログハウスの個室
      %h3 Aroma(n)tica TreehouseinMonferrato
      %p San Salvatore Monferrato
      %ul
        %li ゲスト2人
        %li 1寝室
        %li ベッド1台
        %li 1専用バスルーム

    .hoom-overview__highlight
      .hoom-overview__highlight__top-item
        %p 今注目の家です。
        %p ここ一週間で500レビュー突破。
      .hoom-overview__highlight__detail
        %h4 宿泊先ハイライト
        .detail-item
          %span 入室がスムーズと大好評
          %p 最近泊まった人の95%がチェックイン手順に5つ星を付けています。
          %p 役に立った　役に立たなかった
        .detail-item
          %span 清潔感抜群
          %p 最近のゲスト8人が、このお家はとても清潔だったと言っています。
          %p 役に立った　役に立たなかった
        .detail-item
          %span 清潔感抜群
          %p 最近のゲスト8人が、このお家はとても清潔だったと言っています。
          %p 役に立った　役に立たなかった

    .hoom-overview__detail
      .hoom-overview__detail__space
        %h4 スペース
      .hoom-overview__detail__amenities
        %h4 アメニティ・設備
      .hoom-overview__detail__houserules
        %h4 ハウスルール
      .hoom-overview__detail__cancel-policy
        %h4 キャンセル
      .hoom-overview__detail__availability
        %h4 予約可能状況


  -# .home-reviews
  -#   .home-reviews__summary

  -#   .home-reviews__index

  -# .host-introduction
  -#   .host-introduction__heading
  -#   .host-introduction__title
  -#   .host-introduction__text
  -#   .host-introduction__sub-info

  -# .area-info
  -#   .area-info__heading
  -#   .area-info__map

  -# .similar-home
  -#   %h4 類似のリスティング
  -#   .similar-home
