.signup_branch_contents
  .signup_branch_contents__top_content
    = button_to '×'
  .signup_branch_contents__facebook_ber

  .signup_branch_contents__google

  .signup_branch_contents__section または

  .signup_branch_contents__mail

  .signup_branch_contents__border_line
    %hr
  .signup_branch_contents__bottom_content
    .text_elia Airbnbアカウントはお持ちですか？
    %a.redirect_btn{href: new_user_registration_path} 登録
