.footer{
  height: 259px;
  width: 1032px;
  margin: 0 auto;
  padding: 48px 24px;
  border-top: 1px black solid;
  .footer__lists{
    height: 188px;
    padding-bottom: 30px;
    border-bottom: 1px black solid;
    .footer__list{
      float: left;
      width: 25%;
      .footer__list__name{
        height: 20px;
        font-size: 14px;
        padding-bottom: 10px;
        .api_icon_img{
          float: left;
          height: 20px;
          width: 20px;
          padding-left: 10px;
        }
      }
      .footer__list__item{
        font-size: 14px;
        a{
          text-decoration: none;
          color: $fontBlack;
        }
        a:hover{
          border-bottom: 1px black solid;
        }
      }
    }
  }
  .footer__copyrights{
    padding-top: 20px;
    float: left;
    .footer__copyrights__img{
      height: 20px;
      float: left;
      #footer__copyrights__img{
        height: 20px;
        width: 20px;
      }
    }
    .footer__copyrights__company{
      padding-left: 20px;
      float: left;
    }
  }
}
