@import './variable';

//*---modal背景---------------------------------------------/
.modal_background{
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $modalBg;
  position: fixed;
}

//*---login------------------------------------------------/
.login_contents{
  height: 350px;
  width: 530px;
  padding: 32px;
  margin: 0 auto;
  font-family: Helvetica Neue;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  .top_content{
    height: 15px;
    width: 100%;
    margin-bottom: 24px;
    background-color: $white;
  }
  .correction_position_top{
    height: 15px;
  }
  .body_content{
    height: 280px;
    width: 100%;
    background-color: $white;
    .title_content{
      height: 34px;
      width: 100%;
      line-height: 30px;
      letter-spacing: normal;
      padding-top: 2px;
      padding-bottom: 2px;
      color: #1C1C1C;
      margin: 0;
      .bold{
        float: left;
      }
    }
    .correction_position_center_top{
      height: 20px;
    }
    .facebook_login_ber{
      height: 50px;
      width: 100%;
      margin: 0 auto;
      background-color: $facebook_blue;
      .facebook_login_btn{
        height: 100%;
        width: 100%;
        float: right;
        .redirect_btn{
          height: 100%;
          width: 100%;
          h3{
            margin: 0 auto;
            color: #F1F3F6;
          }
        }
      }
    }
    .correction_position_center_bottom{
      height: 10px;
    }
    .border_line{
      background: none;
      height: 40px;
      position: relative;
      text-align: center;
      &__content{
        background-color: $white;
        padding: 8px;
        display: inline-block;
      }
      hr{
        margin: -16px auto 10px;
        width: 100%;
        border-top: 1px solid #E6E6E6;
      }
    }
    .split_button{
      height: 110px;
      width: 100%;
      .left_login_btn{
        height: 50px;
        width: 250px;
        float: left;
        border: 1px solid #848484;
        .redirect_btn{
          height: 100%;
          width: 50%;
          h3{
            height: 30px;
            width: 200px;
          }
        }
      }
      .right_login_btn{
        height: 50px;
        width: 250px;
        float: right;
        border: 1px solid #848484;
        .redirect_btn{
          height: 100%;
          width: 50%;
          h3{
            height: 30px;
            width: 200px;
          }
        }
      }
    }
  }
  .bottom_content{
    height: 23px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    &__text_area{
      padding-left: 120px;
      float: left;
      color: #848484;
    }
    .redirect_btn{
      padding-left: 10px;
      color: $viridian;
    }
  }
}

//*---login_session------------------------------------------------/

.login_session_contents{
  height: 520px;
  width: 510px;
  margin: 0 auto;
  padding: 32px;
  font-family: Helvetica Neue;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  &__top_content{
    height: 15px;
    width: 100%;
    margin-bottom: 30px;
    background-color: $white;
  }
  &__title_content{
    height: 40px;
    h1{
      margin-bottom: 24px;
    }
  }
  .correction_position_top{
    height: 15px;
  }
  &__form_content{
    height: 245px;
    width: 100%;
    background-color: $white;
    .field_input_area{
      height: 42px;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
      position: relative;
      z-index: 0;
      display: block;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: #E6E6E6;
      border-radius: 2px;
      .login_form{
        width: 90%;
        border-color: $white;
        padding: 10px 35px 10px 10px;
      }
    }
    .field_checkbox_area{
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    .field_submit_area{
      margin-bottom: 16px;
      .login_btn{
        font-size: 16px;
        line-height: 21px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 800;
        padding-left: 24px;
        padding-right: 24px;
        min-width: 77px;
        box-shadow: none;
        height: 50px;
        width: 100%;
        color: $white;
        border-radius: 4px;
        border-width: 2px;
        border-style: solid;
        background: #F7819F;
        border-color: transparent;
      }
    }
    .redirect_btn{
      padding-left: 33%;
      color: $viridian;
    }
    .section_message{
      padding: 16px;
      background: none;
      position: relative;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  .correction_position_center{
    height: 55px;
  }
  &__split_button{
    height: 60px;
    width: 100%;
    margin-bottom: 16px;
    .left_login_btn{
      height: 50px;
      width: 250px;
      float: left;
      border: 1px solid #848484;
      .redirect_btn{
        height: 100%;
        width: 50%;
        h3{
          height: 30px;
          width: 200px;
        }
      }
    }
    .right_login_btn{
      height: 50px;
      width: 250px;
      float: right;
      border: 1px solid #848484;
      .redirect_btn{
        height: 100%;
        width: 50%;
        h3{
          height: 30px;
          width: 200px;
        }
      }
    }
  }
  &__border_line{
    margin-bottom: 16px;
  }
  &__bottom_content{
    .text_area{
      padding-left: 100px;
      float: left;
      color: #848484;
    }
    .redirect_btn{
      padding-left: 10px;
      color: $viridian;
    }
  }
}

//*---signup_branch------------------------------------------------/

.signup_branch_contents{
  height: 340px;
  width: 530px;
  margin: 0 auto;
  padding: 32px;
  font-family: Helvetica Neue;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  &__top_content{
    margin-bottom: 24px;
  }
  &__registration_area{
    &__facebook_btn{
      height: 50px;
      width: 100%;
      background-color: $facebook_blue;
      margin-bottom: 8px;
      .redirect_btn{
        h3{
          margin: 0 auto;
          color: $white;
          font-size: 16px;
        }
      }
    }
    &__google_btn{
      height: 50px;
      width: 100%;
      border: 1px solid #848484;
      .redirect_btn{
        h3{
          margin: 0 auto;
          font-size: 16px;
        }
      }
    }
    &__border_line{
      background: none;
      height: 40px;
      position: relative;
      text-align: center;
      padding: 16px 0 10px 0;
      &__content{
        background-color: $white;
        padding: 8px;
        display: inline-block;
        color: #848484;
      }
      hr{
        margin: -20px auto 10px;
        width: 100%;
        border-top: 1px solid #E6E6E6;
        text-align: center;
      }
    }
    &__mail_signup_btn{
      height: 50px;
      width: 100%;
      background-color: $airbnb_pink;
      color: $white;
      .redirect_btn{
        h3{
          margin: 0 auto;
          color: $white;
          font-size: 16px;
        }
      }
    }
  }
  &__border_line{
    padding: 40px 0 16px 0;
    hr{
      margin: -16px auto 10px;
      width: 100%;
      border-top: 1px solid #E6E6E6;
    }
  }
  &__bottom_content{
    .text_area{
      padding-left: 100px;
      float: left;
      color: #848484;
      font-size: 16px;
    }
    .redirect_btn{
      font-size: 16px;
      padding-left: 10px;
      color: $viridian;
    }
  }
}

//*---registration_signup------------------------------------------------/

.signup_registration_contents{
  height: 810px;
  width: 530px;
  margin: 0 auto;
  padding: 32px;
  font-family: Helvetica Neue;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 20%;
  left: 35%;
  &__top_content{
    height: 15px;
    width: 100%;
    margin-bottom: 30px;
    background-color: $white;
  }
  &__switch_content{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    text-align: center;
    .redirect_btn{
      color: $viridian;
    }
  }
  .section_message{
    padding: 16px;
    background: none;
    position: relative;
    text-align: center;
    margin-bottom: 16px;
  }
  &__form_content{
    .field_input_area{
      height: 42px;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
      position: relative;
      z-index: 0;
      display: block;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: #E6E6E6;
      border-radius: 2px;
      .login_form{
        width: 90%;
        border-color: $white;
        padding: 10px 35px 10px 10px;
      }
    }
    .field_password_certifcation{
      &__mark{
      }
      &__text{
      }
    }
    .field_label{
      font-size: 16px;
      line-height: 22px;
      &__text{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: normal;
        padding: 8px 0 10px 0;
      }
    }
    .field_select_area{
      height: 42px;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      padding-top: 8px;
      padding-bottom: 11px;
      color: $fontLightGray;
      font-weight: normal;
      background-color: transparent;
      padding-left: 11px;
      padding-right: 40px;
      height: 44px;
      display: block;
      width: 100%;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 0px;
      select{
        width: 30%;
        height: 40px;
        padding: 10px 35px 10px 10px;
      }
    }
    .field_content{
      word-wrap: break-word;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: normal;
      color: $fontLightGray;
      font-weight: normal;
    }
    .field_submit_area{
      margin-bottom: 16px;
      .registration_btn{
        font-size: 16px;
        line-height: 21px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 800;
        padding-left: 24px;
        padding-right: 24px;
        min-width: 77px;
        box-shadow: none;
        height: 50px;
        width: 100%;
        color: $white;
        border-radius: 4px;
        border-width: 2px;
        border-style: solid;
        background: $airbnb_pink;
        border-color: transparent;
      }
    }
    .field_checkbox_area{
      &__label{
        font-size: 14px;
        line-height: 18px;
        color: $fontLightGray;
        float: right;
      }
    }
  }
  &__border_line{
    .correction_position{
      height: 40px;
    }
    hr{
      margin: 16px 0 16px 0;
      width: 100%;
      border-top: 1px solid #E6E6E6;
    }
  }
  &__bottom_content{
    .text_area{
      padding-left: 100px;
      float: left;
      color: #848484;
    }
    .redirect_btn{
      padding-left: 10px;
      color: $viridian;
    }
  }
}

//*---covenant_signup------------------------------------------------/

.covenant_section_contents{
  height: 510px;
  width: 540px;
  padding: 30px;
  margin: 0 auto;
  font-family: Helvetica Neue;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  &__content{
    padding: 24px 0 24px 0;
    color: $fontLightGray;
    .title_content{
      font-size: 32px;
      line-height: 36px;
      font-weight: 800;
      padding: 6px 0 6px 0;
    }
    .text_content{
      font-size: 16px;
      line-height: 22px;
      color: $fontLightGray;
    }
  }
  &__airbnb_community{
    font-size: 16px;
    line-height: 22px;
    padding: 24px 0 24px 0;
    color: $fontLightGray;
    .title{}
    .text{}
    .redirect_btn{
      color: $viridian;
    }
  }
  &__airbnb_service{
    font-size: 16px;
    line-height: 22px;
    padding: 24px 0 24px 0;
    color: $fontLightGray;
    .tille{}
    .text{}
    .redirect_btn{
      color: $viridian;
    }
  }
  &__button_field{
    width: 50%;
    margin-top: 32px;
    display: inline-block;
    .agree_btn{
      float: left;
      height: 50px;
      width: 110px;
      margin: 0 8px 8px 0;
      background-color: $viridian;
      border: 1px solid $viridian;
      .redirect_btn{
        height: 50px;
        width: 110px;
        h3{
          color: $white;
          height: 25px;
          width: 65px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    .disagree_btn{
      float: right;
      height: 50px;
      width: 130px;
      margin: 0 8px 8px 0;
      background-color: $white;
      border: 1px solid $viridian;
      .redirect_btn{
        height: 50px;
        width: 130px;
        h3{
          color: $viridian;
          height: 25px;
          width: 80px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}

//*---welcom_signup------------------------------------------------/

.welcome_section_contents{
  height: 490px;
  width: 410px;
  margin: 0 auto;
  font-family: Helvetica Neue;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  &__background_image{
    height: 490px;
    width: 410px;
    background-image: url("welcome_image.png");
    background-size: cover;
    z-index: 1;
  }
  &__button_content{
    position: relative;
    height: 42px;
    width: 310px;
    padding-bottom: 30px;
    top: 420px;
    left: 55px;
    .step_btn{
      height: 42px;
      width: 310px;
      background-color: $airbnb_pink;
      .redirect_btn{
        h3{
          color: $white;
          text-align: center;
          line-height: 1.43;
          font-size: 16px;
          height: 20px;
          width: 260px;
        }
      }
    }
  }
}

//*---profile_section------------------------------------------------/
// 省略のためにコメントアウト
// .signup_profile_contents{
//   height: 450px;
//   width: 310px;
//   margin: 0 auto;
//   font-family: Helvetica Neue;
//   color: $fontLightGray;
//   background-color: $white;
//   z-index: 2;
//   display: none;
//   position: absolute;
//   top: 35%;
//   left: 35%;
//   padding: 70px 60px 35px 60px;
//   &__top_content{
//   }
//   &__title_content{
//     margin-bottom: 6px;
//     text-align: center;
//     span{
//       width: 100%;
//       font-size: 24px;
//       line-height: 1.1;
//     }
//   }
//   &__body_content{
//     margin-bottom: 24px;
//     text-align: center;
//     span{
//       width: 100%;
//       font-size: 16px;
//       line-height: 1.1;
//     }
//   }
//   &__icon{
//     width: 130px;
//     margin: 0 auto 24px auto;
//     &__image{
//       height: 134px;
//       width: 134px;
//       background-image: url("no_img.png");
//       background-size: contain;
//     }
//   }
//   &__facebook_bar{
//     height: 42px;
//     width: 310px;
//     margin: 0 auto;
//     background-color: $facebook_blue;
//     margin-bottom: 12px;
//     &__btn{
//       height: 100%;
//       width: 100%;
//       .redirect_btn{
//         height: 100%;
//         width: 100%;
//         margin: 0 auto;
//         h3{
//           height: 20px;
//           width: 260px;
//           line-height: 1.43;
//           font-size: 16px;
//           text-align: center;
//           color: $white;
//         }
//       }
//     }
//   }
//   &__upload_bar{
//     height: 42px;
//     width: 310px;
//     margin: 0 auto;
//     border: 1px solid #848484;
//     margin-bottom: 25px;
//     &__btn{
//       height: 100%;
//       width: 100%;
//       .redirect_btn{
//         h3{
//           height: 20px;
//           width: 260px;
//           line-height: 1.43;
//           font-size: 16px;
//           text-align: center;
//         }
//       }
//     }
//   }
//   &__bottom_content{
//     text-align: center;
//     color: #AAA;
//   }
// }

//*---signup_phone_number section--------------------------------------/
// 省略、仕様変更のためコメントアウト
// .signup_phone_number_contents{
//   height: 480px;
//   width: 310px;
//   margin: 0 auto;
//   font-family: Helvetica Neue;
//   color: $fontLightGray;
//   background-color: $white;
//   z-index: 2;
//   display: none;
//   position: absolute;
//   top: 35%;
//   left: 35%;
//   padding: 70px 60px 35px 60px;
//   &__top_content{
//   }
//   &__title_content{
//     margin-bottom: 6px;
//     text-align: center;
//     span{
//       font-size: 24px;
//       line-height: 1.43;
//     }
//   }
//   &__body_content{
//     margin-bottom: 24px;
//     text-align: center;
//     span{
//       font-size: 16px;
//       line-height: 1.43;
//     }
//   }
//   &__icon{
//     margin: 24px 0 24px 0 auto;
//     &__image{
//       margin: 0 auto;
//       height: 100px;
//       width: 100px;
//       background-image: url("phone_image.png");
//       background-size: contain;
//     }
//   }
//   &__language_field{
//     &__label_area{
//       padding: 9px 0 8px 0;
//       text-align: center;
//       span{
//         font-size: 14px;
//         line-height: 1.43;
//       }
//     }
//     &__select_area{
//       height: 30px;
//       width: 250px;
//       margin: 0 auto;
//       padding-top: 10px;
//       text-align: center;
//       span{
//         font-size: 16px;
//         line-height: 1.43;
//       }
//     }
//   }
//   &__phone_number_field{
//     &__label_area{
//       padding: 9px 0 8px 0;
//       text-align: center;
//       span{
//         font-size: 14px;
//         text-align: center;
//         line-height: 1.43;
//       }
//     }
//     &__input_area{
//       height: 36px;
//       width: 250px;
//       margin: 0 0 24px 0 auto;
//       padding: 0 12px 0 12px;
//       .international_country_code{
//         width: 43.5px;
//         background-color: rgba(45, 45, 45, 0.7);
//         border: 1px solid $fontLightGray;
//         float: left;
//       }
//       .phone_number{
//         width: calc(250px - 43.5px);
//         border: 1px solid $fontLightGray;
//         float: right;
//       }
//     }
//     &__certification_area{
//       margin: 0 auto;
//       height: 42px;
//       width: 250px;
//       text-align: center;
//       background-color: $airbnb_pink;
//       .redirect_btn{
//         width: 100%;
//         height: 100%;
//         h3{
//           height: 25px;
//           width: 200px;
//           color: $white;
//           padding: 9px 23px;
//           font-size: 15px;
//         }
//       }
//     }
//   }
//   &__bottom_content{
//     height: 50px;
//     padding-top: 20px;
//     text-align: center;
//     .redirect_btn{
//       font-size: 14px;
//     }
//   }
// }

//*---signup_mail_certification--------------------------------------/
// 省略のためにコメントアウト
.signup_mail_certification_contents{
  height: 450px;
  width: 310px;
  margin: 0 auto;
  font-family: Helvetica Neue;
  color: $fontLightGray;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  padding: 70px 60px 35px 60px;
  &__top_content{
  }
  &__title_field{
    text-align: center;
    margin-bottom: 6px;
    span{
      font-size: 24px;
      line-height: 1.1;
    }
  }
  &__body_field{
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.43;
    text-align: center;
    &__top_text_area{
      span{
      }
    }
    &__bottom_text_area{
      span{
      }
    }
  }
  &__icon{
    margin: 24px 0;
    &__image{
      background-image: url("mail_image.png");
      height: 90px;
      width: 90px;
      margin: 0 auto;
      background-size: contain;
    }
  }
  &__input_field{
    margin-bottom: 12px;
    height: 35px;
    width: 310px;
    //仮置き
    background-color: #AAA;
    &__input_area{
      height: 100%;
      width: 100%;
    }
  }
  &__button_field{
    margin-bottom: 12px;
    height: 35px;
    width: 310px;
    background-color: $airbnb_pink;
    .redirect_btn{
      height: 100%;
      width: 100%;
      text-align: center;
      h3{
        height: 20px;
        width: 260px;
        color: $white;
        font-size: 14px;
        line-height: 1.43;
      }
    }
    &__text_area{
      text-align: center;
      .redirect_btn{
        font-size: 14px;
        line-height: 1.43;
        color: $viridian;
      }
    }
  }
  &__bottom_content{
    height: 50px;
    padding-top: 30px;
    text-align: center;
    .redirect_btn{
      font-size: 14px;
    }
  }
}

//*---signup one_more_section-------------------------------------------/

.signup_one_more_contents{
  height: 450px;
  width: 310px;
  margin: 0 auto;
  font-family: Helvetica Neue;
  color: $fontLightGray;
  padding: 70px 60px 35px 60px;
  background-color: $white;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  &__top_content{
  }
  &__icon{
    width: auto;
    margin-bottom: 18px;
    &__image{
      height: 95px;
      width: 95px;
      background-image: url("one_more_image.png");
      background-size: contain;
      margin: 0 auto;
    }
  }
  &__title_field{
    width: auto;
    margin: 25px 0 6px 0;
    text-align: center;
    span{
      font-size: 24px;
      line-height: 1.1;
    }
  }
  &__body_field{
    font-size: 14px;
    text-align: center;
    line-height: 1.43;
    &__top_text_area{
      margin-bottom: 24px;
      span{
      }
    }
    &__bottom_text_area{
      margin-bottom: 24px;
      span{
      }
      .redirect_btn{
        color: $viridian;
      }
      span{
      }
    }
  }
  &__user_address_field{
    margin-bottom: 6px;
    span{
      text-align: center;
      font-size: 14px;
      line-height: 1.43;
    }
  }
  &__input_field{
    margin-bottom: 20px;
    &__input_area{
      height: 35px;
      width: 310px;
      background-color: $airbnb_pink;
      .redirect_btn{
        height: 100%;
        width: 100%;
        text-align: center;
        h3{
          height: 15px;
          width: 260px;
          font-size: 14px;
          line-height: 1.43;
          color: $white;
        }
      }
    }
  }
  &__bottom_content{
    height: 45px;
    text-align: center;
    .redirect_btn{
      font-size: 14px;
      line-height: 1.43;
    }
  }
}

//*---signup finish_section---------------------------------------------/

.signup_finish_contents{
  height: 410px;
  width: 305px;
  margin: 0 auto;
  font-family: Helvetica Neue;
  color: $fontLightGray;
  padding: 70px 60px 35px 60px;
  background-image: url("let's_use_it_image.png");
  background-size: contain;
  z-index: 2;
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
  &__correction_position{
    height: 343px;
  }
  &__main_content{
    margin: 0 auto;
    &__icon{
      margin-bottom: 12px;
      &__image{
      }
    }
    &__title_field{
      margin: 25px 0 15px 0;
      span{
        font-size: 24px;
        line-height: 1.1;
        text-align: center;
      }
    }
    &__body_field{
      margin: 25px 0;
      span{
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
      }
    }
    &__button_field{
      height: 42px;
      width: 310px;
      background-color: $airbnb_pink;
      .redirect_btn{
        h3{
          height: 15px;
          width: 260px;
          color: $white;
          text-align: center;
          font-size: 16px;
          line-height: 1.1;
        }
      }
    }
  }
}
