$white: #FFFFFF;
$viridian: #107275;

// font-color
$fontBlack: #383838;
$fontDarkRed: #6B1F0D;
$fontLightGray: rgb(72, 72, 72);

// background-color
$airbnb_pink: #F7819F;
$facebook_blue: rgba(30, 50, 97, 1);
