._1ibtygfe{
    padding-top: 80px;
    .square_btn{
        height: 72px;
        width: 290px;
        display: inline-block;
        float: left;
        margin: 10px;
        text-decoration: none;
        background: $white;/*ボタン色*/
        color: black;
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        border-radius: 3px;
        border: solid 1px #DFDFDF;
    }
    .square_btn:active {/*ボタンを押したとき*/
        -ms-transform: translateY(4px);
        -webkit-transform: translateY(4px);
        transform: translateY(4px);/*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
        border-bottom: none;
    }

    .inline_left{
      display: inline-block;
      float: left;
    }

    h3{
        font-weight: bold;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 25px;
        color: black;
    }

    h6{
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
        font-weight: bold;
        line-height: 72px;
        padding-left: 20px;
        font-size: 16px;
        color: black;
    }

    .btn-text{
      height: 72px;
      vertical-align: center;
    }
}


._share_check {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 500px;
}
._check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0px auto;
}

._74l3jy {
    font-size: 28px;
    font-weight: bold;
}

._16syclo {
    letter-spacing: 0.2px;
    font-size: 17px;
}

._1vab2qmv {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    width: auto;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 51.7771px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background: rgb(0, 132, 137);
    border-color: transparent;
}
