@mixin font-text {
  font-size: 16px;
  font-weight: 400;
  font-stretch: 100%;
  height: auto;
  letter-spacing: normal;
  line-height: 22px;
  // text-align: left;
  text-indent: 0px;
  text-size-adjust: 100%;
  width: auto;
  word-spacing: 0px;
  word-wrap: break-word;
  color: $fontTxt;
}

@mixin clearfix {
  &::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
   }
}


.container {
  width: 100%;

  .heading-img {
    width: 100%;

    .header-img {
      width: 100%;
      background-size:  100% 0 ;
      height: 550px;
    }
  }

    .container-left {
      width: 56.3%;
      min-width: 696px;

      p, li {
        @include font-text;
      }
    }
}
      .home-overview {
        height: 1000px;
        &__heading {
          span {
            color:#9b3143 !important;
            font-size: 14px;
            font-weight: bold;
          }

          h3 {
            text-align: left;
            line-height: 28px;
            padding-left: 0px;
            font-size: 24px;
            font-weight: bold;
          }

          li {
            float: left;
          }
        }

        &__highlight {
          color: $fontBlack;
          border-radius: 1px;

          &__top-item {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding:24px;
            margin: 24px 0px;
            border-radius: 1px;
          }

          &__content {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding:24px;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 1px rgba(0, 0, 0, 0.19);
            border-radius: 4px;
          }
        }

        &__detail__item {
          padding:24px;
          padding-left:0px;
          // margin: 24px 0px;
          border-bottom: 1px #aaa solid;
          @include font-text;

          h4 {
            margin-bottom: 16px;
          }
          .amenity_item {
            margin-right: 8px;
            margin-bottom: 18px;
            @include clearfix;

              h5 {
              vertical-align:center;
              float: left;
              font-size :16px;
              margin-left: 10px;
              margin-bottom: 18px;
            }

            img {
              height:1.2em;
              width: 1.2em;
              float: left;
            }
          }
          .home-overview__detail__amenities__left,
          .home-overview__detail__amenities__right {
            float:left;
            width: 40%;
          }

          //ベッド一覧
          .detail_bed {

            .bed-item {
              border: 1px #aaa solid;
              float:left;
              margin-right: 10px;
              font-size:100px;

              .bed-item p {
                font-weight:600px;
              }
            }
          }


        }


      }

.home-reviews {
  .review-search{
    background-image:url("search_icon.png");
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 15px;
  }

  &__summary__head {
    padding: 24px 0 20px;
    border-bottom: 1px #aaa solid;
  }

  &__summary__body {
    .home-reviews__summary__body__left,
    .home-reviews__summary__body__right {
      width: 50%;
    }
      .review-metric {
        padding: 12px 0px;
        @include clearfix;
        p{
          float: left;
        }

        span {
          float: right;
          color: $viridian;
          text-align: right;
          padding-right: 50px;
          // width: 30%;
        }
      }
    }

    &__box {
      padding: 24 0;
      border-bottom: 1px #aaa solid;

        &__top {
          margin: 10px 0 0px ;

          &__left{
            float:left;

            .user-pic {
              float:left;
            }

            &__info{
              float:left;
            }
          }

          &__right {
            float:right;
            img {
             height: 10px;
            }
          }
        }
    }
}

.pagination {
  height: 70px;
  margin: 20px 0px;

}

.host-introduction__heading {
  border-bottom: 1px #aaa solid;
  padding: 20px;
  padding-left : 0px;
  
  &__left-item {
    float: left;
    width: 70%;
  }

  &__host-pic {
    float :right;

    .host-pic {
        height: 60px;
        border-radius: 30px;
    }
  }
  .number-of-reivews,.certification {
    margin-right: 10px;
  
    img {
    height:20px;
    width: 20px;
    margin-right: 7px;
    }
  }
}
.host-introduction__title, .host-introduction__instruction, .host-introduction__text {
   border-bottom: 1px #aaa solid;
   padding: 20px 0;
}

.area-info {
  border-bottom: 1px #aaa solid;
  padding: 20px 0;
}

.similar-category {
  margin-top: 40px;
  margin-bottom: 24px;
  
  h3 {
    margin-bottom: 24px;
  }
  .similar-category__carsel {
    width: auto;
  }
  &__item {
    width: auto ;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 0px !important;
    
  }
  .similar-home {
    height: 210px;
    border-radius: 5px;
  }
  .listing-star {
    color: $viridian;
  }
}

.japanese-translation {
  border: 1px solid #383838;
  padding: 5px;
  border-radius: 5px;
  color: $fontBlack;
  font-weight: bold;
  margin-top: 24px;
  cursor: pointer;
  text-align: center;

  h4 {
    font-weight:bold;
    text-align: center;
  }
}

      .user-pic {
        height: 40px;
        border-radius: 20px;
      }

      .host-pic {
        height: 60px;
        width: 60px;
        border-radius: 20px;
      }


.font-text {
  font-size: 16px;
  font-weight: 400;
  font-stretch: 100%;
  height: auto;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  text-indent: 0px;
  text-size-adjust: 100%;
  width: auto;
  word-spacing: 0px;
  word-wrap: break-word;
  color: $fontTxt;
}

.subtitle, .name, span {
  font-size: 16px;
  font-weight: 600 !important;
  height: 22px;
  letter-spacing: normal;
  line-height: 22px;
  text-size-adjust: 100%;
  word-wrap:break-word ;
  color: $fontBold;
}

.title {
  font-size: 25px;
  font-weight: 800;
  height: auto;
  letter-spacing: normal;
  line-height: 30px;
  text-size-adjust: 100%;
  width: auto;
  word-wrap: break-word;
}





h4 ,p {
  display:block;
}

.bold-subtitle {
  color: $fontBold;
  font-weight: 600;
}

.fontsize-12px {
  font-size: 12px !important;
}

.bed-item {
  border: 1px #DBDBDB solid;
  border-radius: 5px ;
  float:left;
  margin-right: 20px;
  padding: 24px;
  width: 20%;


  span {
    text-align: left;
  }

  .bed-icon {
    margin-bottom: 30px;
    img {
      height:20px;
      width: 20px;
    }
  }
}

h3 {
  padding: 0 0 7px;
  text-align: left;
}


