.side-box{
  color: $fontBlack;
  float: right;
  .reservation{
    width: 326px;
    border: solid 1px gray;
    padding: 0 24px;
    .top-box{
      border-bottom: solid 1px gray;
    }
    .select-box{

    }
    .request-btn{

    }
  }
  .report{
    text-align: center;
  }
}
