@import './home_new_form';
/*--------- variable ------------------------*/
.icon-mini{
  height: 40px;
  width: 40px;
  img{
    height:100%;
    width: 100%;
  }
}
.home-contents_head{
  vertical-align: center;
  margin-bottom: 20px;
}
.vertical-center{
  vertical-align: center;
  p{
    line-height: 40px;
  }
}
/*--------- TopPage ------------------------*/
h3{
  text-align: center;
  line-height: 28px;
  width: 300px;
  padding: 12px 24px;
  font-size: 15px;
}

.top-tag{
  min-width: 1520px;
  padding: 60px 0 40px 0;
  &__city{
    padding: 100px 0 40px 0;
  }
}
/*--------- Button ------------------------*/
.square_btn{
  font-size:0;
  display: inline-block;
  float: left;
  margin: 2px;
  text-decoration: none;
  background: $white;/*ボタン色*/
  color: $fontBlack;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  border: solid 1px #DFDFDF;
  h3{
    padding:8px 5px;
  }
  .btn-text{
    height: 72px;
    width: calc( 290px - 90px);
    vertical-align: center;
    h2{
      text-align: center;
      line-height: 72px;
      padding-left: 20px;
    }
  }
  .btn-image{
    height: 72px;
    width: 96px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

/*--------- Airbnb plus ------------------------*/
._aov0j6{
  margin: 40px 0;
  width: calc(100vw - 160px);
  .airbnb-link{
    height: 200px;
    min-width: 230px;
    background-image: image-url("airbnbplus_back.png");
    background-size:cover;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px 0 20px 38px;
    p{
      font-size: 18px;
      color: $fontBlack;
      width: 350px;
      padding-left: 10px;
    }
    .airbnbplus-btn{
    padding-top: 10px;
    height: 65px;
    h3{
      line-height: 40px;
      padding: 0 10px;
    }
    }
    img{
      height:   50px;
      width: 91px;
      padding-left: 10px;
    }
  }
    .btn-text{
      height: 72px;
      vertical-align: center;
    }
}
/*--------- Share check ------------------------*/
.more-detail-btn{
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 16px;
  min-width: 51.7771px;
  text-decoration: none;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background: $viridian;
  border-color: transparent;
  span{
    color: $white;
  }
}

.share-check {
  margin: 0 auto;
  height: 300px;
  width: 850px;
  .share-check-left{
    width: 360px;
    height:100%;
    padding-right: 10px;
    img{
      width: 100%;
    }
  }
  .share-check-right{
    width: 450px;
    height: 100%;
    padding-left: 10px;
    padding-top: 50px;
    h2{
      padding-bottom: 15px;
    }
  }
}

/*--------- Listings ------------------------*/
.listings{
  padding: 20px 0;
  min-width: 500px;
  img{
  border-radius: $listing-s-image;
  width: 100%;
  height: 100%;
  }
  .listing-s{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: $s-width;
    min-width: 200px;
    color: $fontBlack;
    padding: 8px 8px 12px 8px;
    z-index: $linstingS_X_Xl;
    span{
      font-size: 12px;
    }
    &__image{
      height: $s-height;
      overflow: hidden;
    }
    &__text{
      font-size: 16px;
    }
    .listing-category{
      font-size: 14px;
    }
    .listing-star{
      color: $viridian;
    }
    .listing-price{
      font-size: 14px;
    }
    .icon-favorite-pink{
      position: absolute;
      right: $icon-f_s;
      top: 25px;
      z-index: $iconFavoritePink;
      color: $iconPink;
      visibility: hidden;
    }
    .icon-favorite-white{
      position: absolute;
      right: $icon-f_s;
      top: 25px;
      z-index: $iconFavoriteWhite;
      color: $white;
    }
    .slick-prev,.slick-next{
      top: 48%;
      height: 96.5%;
      width: 40px;
      margin-bottom: 10px;
      border: none;
      opacity: 0.4;
    }
    .slick-prev{
      border-radius: $listing-s-image 0 0 $listing-s-image;
      background: -moz-linear-gradient(left, $lightBlack,70%, transparent);
      background: -webkit-linear-gradient(left, $lightBlack,70%, transparent);
      background: linear-gradient(to right, $lightBlack,70%, transparent);
    }
    .slick-next{
      border-radius: 0 $listing-s-image $listing-s-image 0;
      background: -moz-linear-gradient(right, $fontBlack,70%, transparent);
      background: -webkit-linear-gradient(right, $fontBlack,70%, transparent);
      background: linear-gradient(to left, $fontBlack,70%, transparent);
    }
  }
  .listing-x{
    display: inline-block;
    margin: 0 auto;
    width: $x-width;
    padding: 8px 8px 12px 8px;
    min-width: 200px;
    z-index: $linstingS_X_Xl;
    &__text{
      padding-top: 5px;
    }
    img{
      height: 255px;
    }
    .listing-category{
      font-size: 10px;
    }
  }
  .listing-xl{
    display: inline-block;
    margin: 0 auto;
    width: calc(50vw - 100px);
    padding: 8px 8px 12px 8px;
    min-width: 250px;
    z-index: $linstingS_X_Xl;
  }
  .trip-with-airbnb{
    padding: 40px 10px;
    width: $x-width;
    img{
      height: 50px;
      width: 50px;
      object-fit: contain;
      float: left;
      padding: 0 0 10px 5px;
    }
    &__text{
      clear: both;
      color: $lightBlack;
      p{
        font-size: 19px;
        padding-bottom: 5px;
      }
      h2{
        height: 100px;
      }
    }
  }
}
.showall{
  color: $viridian;
  font-size: 16px;
  padding: 20px 0;
  display: block;
  clear: both;
}
/*--------- Family&Business ------------------------*/
.index-head{
  width: 100vw;
  height: 344px;
  margin-left: -80px;
  margin-bottom: 20px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text{
    width: 35vw;
    height: 100%;
    position: relative;
    bottom: calc(250px - 1vw);
    margin-left: 5vw;
    h1{
      font-size: 30px;
      color: $white;
      padding-bottom: 10px
    }
    h2{
      font-size: 16px;
      color: $white;
    }
  }
}
