.square_btn{
    height: 72px;
    width: 290px;
    display: inline-block;
    float: left;
    margin: 10px;
    text-decoration: none;
    background: $white;/*ボタン色*/
    color: black;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    border: solid 1px #DFDFDF;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.inline_left{
  display: inline-block;
  float: left;
}

h3{
    font-weight: bold;
    font-size: 25px;
    color: black;
}

h6{
    text-align: center;
    font-weight: bold;
    line-height: 72px;
    padding-left: 20px;
    font-size: 16px;
    color: black;
}

.btn-text{
  height: 72px;
  vertical-align: center;
}
