.side-box{
  float: right;
  .reservation{
    width: 326px;
    border: solid 1px gray;
    padding: 0 24px;
    .top-box{
      border-bottom: solid 1px gray;
    }
    .select-box{

    }
    .request-btn{

    }
  }
  .report{
    text-align: center;
  }
}

.reservation_new{
  width: 367px;
  border: solid 1px $borderGray;
  padding: 24px;
  float: right;
  &__heading{
    h1{
      display: inline;
      font-size: 22px;
    }
    p{
      display: inline;
    }
    .review{
      span{
        font-size: 12px;
      }
    }
  }
  // &__body{
  //     %p 日付
  //     .checkin_date
  //       = f.text_field :checkin_date, required: true, autofocus: true, placeholder: "チェックイン", class: "checkin_date_input"
  //     .checkout_date
  //       = f.text_field :checkout_date, required: true, autofocus: true, placeholder: "チェックアウト", class: "checkout_date_input"
  //     .number_of_guests
  //       %p 人数
  //       .number_of_adults
  //         = f.text_field :number_of_adults, required: true, autofocus: true, placeholder: "ゲスト1人", class: "number_of_guests_input"
  //       .number_of_kids
  //         = f.text_field :number_of_kids, autofocus: true, placeholder: "子供", class: "number_of_guests_input"
  //       .number_of_babies
  //         = f.text_field :number_of_babies, autofocus: true, placeholder: "乳幼児", class: "number_of_guests_input"
  // }
  // &__body--hidden{
  //     = f.hidden_field :default_fee, value: home.price.default_price, required: true, class: "default_fee_input"
  //     / = f.hidden_field :additional_guests_fee, value: home.price.additional_fee_per_person, required: true, class: "cleaning_fee_date_input"
  //     = f.hidden_field :cleaning_fee, value: home.price.cleaning_fee, required: true, class: "cleaning_fee_date_input"
  //     = f.hidden_field :service_fee, value: home.price.deposit, required: true, class: "service_fee_input"
  //     / = f.text_field :total_fee, required: true, class: "total_price_input"
  // }
  &__result{
    padding-top: 20px;
    line-height: 30px;
    span{
      color:$fontGray;
    }
    &__default,&__cleaning,&__service{
      border-bottom: solid 0.5px $borderGray;
      padding: 5px 0;
    }
  }
  &__submit{
    text-align: center;
  .submit_btn{
    height: 50px;
    width: 326px;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background: $iconPink;/*ボタン色*/
    color: $white;
    border-radius: 5px;
  }
  p{
    color: $fontGray;
    font-size: 14px;
    text-align: center;
  }
}
  // .btn-text{
  //   height: 72px;
  //   width: calc( 290px - 96px);
  //   vertical-align: center;
  //   h2{
  //     text-align: center;
  //     line-height: 72px;
  //     padding-left: 20px;
  //   }
  &__message{
    border-top-width: 200px;
    border-top: solid 1px $borderGray;
    padding-top: 30px;
    color: $fontGray;
    h1{
      font-size: 16px;
      line-height: 17px;
    }
    p{
      font-size: 14px;
      display: inline-block;
      width: 295px;
    }
    img{
      display: inline-block;
      height: 48px;
      width: 48px;
    }
  }
}

