// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-header-box {
  width: 100%;
  height: 40px;
}

.user-show-marginleft {
  margin-left: 280px;
}

.user-show-left-contents-1 {
  width: 225px;
  float: left;
  #user-show-left-contents-2 {
    margin-top: 24px;
    .user-show-left-box-1 {
    height: 60px;
    }
  }
}

.color-008489 {
  padding-top: 8px;
  color: #008489;
}

.user-show-left-contents-3 {
  margin-bottom: 24px;
  border: 1px solid #dce0e0;
  background-color: #fff;
  }

  .panel-header {
    color: #484848;
    padding: 12px 20px;
    border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
    }

    .space-3 {
      padding: 20px;
    }

    .space-2 {
      padding: 12px 0px;
      color: #484848;
    }

    .col-middle {
      font-size: 14px;
      width: 183px;
    }

    .check-icon {
      font-size: 20px;
      float: right;
    }

    .language-box {
      padding-left: 20px;
      padding-right: 20px;
    }

    .dtbold {
      font-weight: bold;
    }

    .dtpadding {
      padding-bottom: 20px;
    }

    .listing-detail {
      font-size: 28px;
      padding-bottom: 16px;
      color: #484848;
      .small-number {
        font-size: 14px;
      }
    }

    .text-relative {
      position: relative;
    }

    .media-caption {
      position: absolute;
      top: 45px;
      width: 216px;
      color: white;
      padding: 25px 1px 15px;
      text-align: center;
      font-size: 14px;
      line-height: 1.43;
    }

  .user-show-right-contents-1 {
    float: left;
    margin: 24px 24px 48px;
    min-height: 1px;
    width: 768px;
  }

  .greeting-1 {
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 15px;
  }

  .address-startday {
    font-size: 16px;
    margin-top: 12px;
    color: #484848;
    font-weight: bold;
  }

  .self-imformation-1 {
    margin-top: 36px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
  }

  .self-information-2 {
    height: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    .self-information-3 {
      float: left;
      height: 50px;
      line-height: 50px;
    }
  }

  ._mstzcu {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
  }

  .review-font-size {
    font-size: 32px;
  }

  .host-box-1 {
    margin-bottom: 40px;
  }

  ._e296pg {
    background: -webkit-linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    border-radius: 6px ;
    color: #ffffff ;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 6px 9px;
    min-width: 28px;
    vertical-align: middle;
    height: 20px;
    line-height: 1.4;
    text-align: center;
  }

  .host-box-2 {
    margin-bottom: 20px;
  }

    .space-45 {
      margin-bottom: 24px;
      float: left;
    }

    .reviews_section.as_host {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: bold;
    }

    .col-sm-12 {
      width: 16.66667%;
      float: left;
      padding-left: 30px;
    }

    .visiter-image {
      border-radius: 35px;
    }

    .review-from-user {
      font-size: 14px;
      color: #484848;
      padding-bottom: 40px;
      width: 768px;
    }

    .profile-name {
      padding-left: 15px;
    }

    .text-space-1 {
      padding-right: 50px;
    }

    .col-offset-2{
      border-bottom: 1px;
    }

    .message-space{
      padding-bottom: 20px;
    }

    .text-relative-sm {
      float: right;
    }
