// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#site-content-ky {
  margin-bottom: 48px;
  margin-top: 24px;
  min-height: 1px;
}

.center-ky {
  margin-left: 300px;
  margin-right: 300px;
  width: 100%;
  height: 100%;
}

.space-2 {
  display: table;
  table-layout: fixed;
  padding: 12px 0px 12px 0px;
  color: #484848;
}

.space-3 {
  padding: 20px;
}

.space-4 {
  margin-bottom: 24px;
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 0;
  color: #484848;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
}

.col-md-4 {
  width: 225px;
  float: left;
}

.box33 {
  float: left;
  margin-bottom: 48px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 1px;
  width: 768px;
}

.hello-ky {
  font-size: 44px;
  font-weight: normal;
  margin-bottom: 15px;
}

.place {
  font-size: 16px;
  margin-top: 12px;
  color: #484848;
  font-weight: bold;
}

.text-ky {
  margin-top: 36px;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}

.panel-header {
  color: #484848;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border-bottom: 1px solid #dce0e0;
  background-color: #edefed;
}

.data-ky {
  padding-left: 20px;
  padding-right: 20px;
}
.col-middle {
  font-size: 14px;
  width: 183px;
}

.flow23 {
  padding-top: 8px;
  color: #008489;
}

.dtbold-ky {
  font-weight: bold;
}

.img-responsive-height {
    width: auto;
    height: 100%;
}
.check-jpg-ky {
  background-image: url(check.jpg)
}

.icon-ky {
  font-size: 20px;
  float: right;
}

.dtpadding-ky {
  padding-bottom: 20px;
}

.listing-font {
  font-size: 28px;
  padding-bottom: 16px;
}

.small-number-ky {
  font-size: 14px;
}

.text-center {
  position: relative;
}

.media-caption {
  position: absolute;
  top: 45px;
  width: 216px;
  color: white;
  padding: 25px 1px 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
}

._mstzcu {
  display: inline-block !important;
  margin-left: 12px !important;
  vertical-align: middle !important;
}

.text01-ky{
  height: 50px;
  line-height: 50px;
}

._36rlri {
  float: left;
  height: 50px;
  line-height: 50px;
}

.review02-ky {
  height: 30px;
}

.fff{
  font-size: 32px;
}

.kbox-ky {
  margin-bottom: 40px;
}

.sbox-ky {
  margin-bottom: 20px;
}

.small {
  font-size: 20px;
  color: #484848;
}

._e296pg {
  background: -webkit-linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
  border-radius: 6px ;
  color: #ffffff ;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 6px 9px;
  min-width: 28px;
  vertical-align: middle;
  height: 20px;
  line-height: 1.4;
}

.space-45 {
  font-size: 18px;
  margin-bottom: 24px;
  float: left;
}

.reviews_section.as_host {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: bold;
}

.col-sm-12 {
  width: 16.66667%;
  float: left;
  padding-left: 30px;
}

.loaded {
  border-radius: 35px;
}

.review-from-user {
  font-size: 14px;
  color: #484848;
  padding-bottom: 40px;
}

.text-wrap {
  padding-left: 15px;
}

.text-space-ky {
  padding-right: 50px;
}

.col-offset-2{
  border-bottom: 1px;
}

.message-space{
  padding-bottom: 20px;
}
